body {
  background-color:  rgb(219, 178, 66);
  font-family: 'Roboto', sans-serif;
}

p {
  letter-spacing: 1px;
  line-height: 19px;
}

.preview-container {
  width: 450px;
  height:600px;
  border: 2px solid black;
  margin: 120px auto;
  background-color: white;
  box-shadow: 5px 5px 0 0 black;
  border-radius: 10px;
}

@media screen and (max-width:500px){
  .preview-container{
    width: 300px;
    height: 500px;
  }
}

@media screen and (max-width:754px){
  .preview-container{
    width: 300px;
    height: 550px;
  }
}

@media screen and (max-width:768px){
  .preview-container{
    width: 400px;
    height: 580px;
  }
}
.preview-image-container{
  margin: auto 10px;
  margin: 20px;
}

.preview-image-container > img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.btn-content {
  background-color: rgb(201, 161, 51);
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.profile-container {
  display: flex;
}

.profile-container > img {
  padding-right: 10px;
}

.profile-container > p {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 10px;
}
